body {
  align-items: center;
  background-color:#5f2eb4;
  color: white;
  text-shadow: black 2px 2px;
  
}

#banner {
    background-color: #26a69a;
}

.headerTitle {
 color: white;
 text-shadow: black 3px 3px;
}

.container {
  display: block;
  height: 500px;
  width: 500px;
}

.btn-large:hover {
    color: orange;
}

.changeColor {
  color: orange;
}



