body {
  align-items: center;
  background-color:#5f2eb4;
  color: white;
  text-shadow: black 1px 1px;
  
}

.headerTitle {
 color: white;
 text-shadow: black 3px 3px;
}

.container {
  display: block;
  height: 500px;
  width: 500px;
}

.btn-large:hover {
    color: orange;
}

.changeColor {
  color: orange;
}

[type="radio"]:checked+span:after {
    background-color: #5a5a5a;
}


